

* {
    cursor:url('assets/cursors/01_aqua.cur'), auto;
}
/*body style*/
body {
    /*visual properties*/
    font-family: 'apple-system', sans-serif;
    font-size: 15px;
    background-color: #050505;
    color:white;

    /*spacing*/
    margin-left: 15%;
    margin-right:15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container {
    /*nothing*/
}

.song {
    /*align items vertically*/
    display: flex;
    align-items: center;

    /*spacing*/
    margin-bottom: 25px;
    /*add fixed space between items*/
    gap: 15px;
}

.thumbnail {
    /*size*/
    width: 50px;
    height: 50px;
}

.detailsButton {
    /*visual properties*/
    background-color: black;
    color:rgb(255, 88, 255);
    font-size: 16px;

    /*border*/
    border-color: white;
    border-radius: 5px;
    border-style: solid;

    /*spacing*/
    padding: 5px;

    /*cursor*/
    cursor:url('assets/cursors/01_aqua_pointer.cur'), auto;
}
